*.pyc
*.so
*.o
*~
config.status
local_paths.py
make_defines
fort.*
ocf_new.dat
ocfish*.dat
code_parts*.dat

lattice_cache

synergia-local

.kdbgrc.*

# cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
progress.make
Makefile
DartTestfile.txt
Testing
install_manifest.txt

# kdevelop
Doxyfile
SYNERGIA2.kdev*

# eclipse
.cproject
.project
.project.tmp
.pydevproject
.settings

CTestTestfile.cmake

debug-*

language_breakdown.png
test_breakdown.png
