[submodule "src/synergia/utils/kokkos"]
	path = src/synergia/utils/kokkos
	url = https://github.com/kokkos/kokkos.git
	branch = master
[submodule "src/synergia/utils/eigen"]
	path = src/synergia/utils/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = master
