name: CI:macOS-clang

on:
  workflow_dispatch:
    inputs:
      debug_cmake_enabled:
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false
      debug_tests_enabled:
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false
  push:
    branches: [ devel3 ]
    paths-ignore:
      - 'wiki/**'
  pull_request:
    branches: [ devel3 ]
    paths-ignore:
      - 'wiki/**'

env:
  BUILD_TYPE: RelWithDebInfo

jobs:
  build-and-test:
    runs-on: macos-latest

    steps:
    - name: Cancel Previous runs
      uses: styfle/cancel-workflow-action@0.10.1
      with:
        access_token: ${{ github.token }}

    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: 'true'

    - name: Dependencies
      run: |
        brew install gsl hdf5 fftw libomp ninja
        python3 -m venv ${{github.workspace}}/synergia-env
        source ${{github.workspace}}/synergia-env/bin/activate
        python3 -m pip install --upgrade pip setuptools wheel
        python3 -m pip install cython matplotlib mpi4py numpy pyparsing pytest
        # We do not install h5py because the pip-installed version may not use
        # a version of HDF5 that matches what we have from Homebrew. Instead,
        # we build our own from source.
        mkdir tmp
        cd tmp
        wget https://github.com/h5py/h5py/archive/refs/tags/3.6.0.tar.gz
        tar xf 3.6.0.tar.gz
        cd h5py-3.6.0
        HDF5_DIR=/usr/local python setup.py install
        cd ../..
        rm -r tmp/

    # Debug: checkpoint at which to open tmate session
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      if: ${{github.event_name == 'workflow_dispatch' && github.event.inputs.debug_cmake_enabled }}
      with:
        sudo: false

    - name: CMake
      run: |
        source ${{github.workspace}}/synergia-env/bin/activate
        cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
         -DENABLE_KOKKOS_BACKEND=OpenMP -DBUILD_PYTHON_BINDINGS=on -DBUILD_EXAMPLES=off -GNinja

    - name: Build
      # Build your program with the given configuration
      run: |
        source ${{github.workspace}}/synergia-env/bin/activate
        cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    # Debug: checkpoint at which to open tmate session
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      if: ${{github.event_name == 'workflow_dispatch' && github.event.inputs.debug_tests_enabled }}
      with:
        sudo: false

    - name: ctest
    # Execute tests defined by the CMake configuration.
      run:  |
        source ${{github.workspace}}/synergia-env/bin/activate
        cd ${{github.workspace}}/build
        ctest -C ${{env.BUILD_TYPE}} --output-on-failure
