name: CI:ubuntu-gcc

on:
  push:
    branches: [ devel3 ]
    paths-ignore:
      - 'wiki/**'
  pull_request:
    branches: [ devel3 ]
    paths-ignore:
      - 'wiki/**'

env:
  BUILD_TYPE: RelWithDebInfo

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/fnalacceleratormodeling/synergia2-containers/ubuntu-gcc:main
  
    steps:
    - name: Cancel Previous runs
      uses: styfle/cancel-workflow-action@0.10.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: 'true'

    - name: CMake
      run: |
        lscpu
        . /etc/profile.d/z10_spack_environment.sh 
        cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
          -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/install \
          -DBUILD_PYTHON_BINDINGS=on -DPYTHON_EXECUTABLE=$(which python3.9) \
          -DENABLE_KOKKOS_BACKEND=OpenMP \
          -DBUILD_FD_SPACE_CHARGE_SOLVER=ON \
          -DUSE_EXTERNAL_KOKKOS=off -GNinja

    - name: build
      # build synergia2
      run: |
        . /etc/profile.d/z10_spack_environment.sh 
        cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -j 2 

    - name: install
      # install synergia2
      run: |
        . /etc/profile.d/z10_spack_environment.sh 
        cmake --install ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: ctest
    # Execute tests defined by the CMake configuration.
      run:  |
        . /etc/profile.d/z10_spack_environment.sh 
        cd ${{github.workspace}}/build
        ctest -C ${{env.BUILD_TYPE}} --output-on-failure

    # Debug: checkpoint at which to open tmate session
    #- name: Setup tmate session
    #  uses: mxschmitt/action-tmate@v3
    #  with:
    #    sudo: false
        
    - name: run-fodopy
    # Run the fodopy example from README.
      run:  |
        . /etc/profile.d/z10_spack_environment.sh 
        export SYNINSTALL=${{github.workspace}}/install
        export LD_LIBRARY_PATH=${SYNINSTALL}/lib:${SYNINSTALL}/lib64:\${LD_LIBRARY_PATH}
        export PYTHONPATH=${SYNINSTALL}/lib:${SYNINSTALL}/lib/python3.9/site-packages:\${PYTHONPATH}
        cd ${{github.workspace}}/build/examples/fodo
        mpirun -np 1 python3.9 fodo_readme.py
